# 0_Clean_data

Objective: there are four datasets that need cleaning and processing in the same way for segmenation and modelling. This script will call in Cleaning_functions.py and output teh clean datasets in /Data to be picked up in teh next steps of the project.

In [16]:
# import libraries and Cleaning_functions
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import Cleaning_functions

In [17]:
# Read in azdias and customer data, analysis on these datasets will impack how the training and test data gets cleaned.

azdias = pd.read_csv('data/Udacity_AZDIAS_052018.csv', sep=';')
customers = pd.read_csv('data/Udacity_CUSTOMERS_052018.csv', sep=';')

C:\Users\Hannah\AppData\Local\Temp\ipykernel_17588\1348514858.py:3: DtypeWarning: Columns (18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  azdias = pd.read_csv('data/Udacity_AZDIAS_052018.csv', sep=';')
C:\Users\Hannah\AppData\Local\Temp\ipykernel_17588\1348514858.py:4: DtypeWarning: Columns (18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  customers = pd.read_csv('data/Udacity_CUSTOMERS_052018.csv', sep=';')

In [18]:
# Unknowns in this dataset can take on more than just a NaN value, details have been provided in teh spreadsheets about the factors.
# Collate the unknowns. Lets process Azdias first.

azdias = Cleaning_functions.collate_unknown(azdias)
NaN_sum = Cleaning_functions.display_NaN(azdias) 
NaN_sum

                           NaN sum      NaN %
ALTER_KIND4                 890016  99.864792
ALTER_KIND3                 885051  99.307691
ALTER_KIND2                 861722  96.690047
ALTER_KIND1                 810163  90.904837
EXTSEL992                   654153  73.399639
...                            ...        ...
D19_VERSAND_ANZ_24               0   0.000000
D19_VERSAND_DATUM                0   0.000000
D19_VERSAND_OFFLINE_DATUM        0   0.000000
D19_VERSAND_ONLINE_DATUM         0   0.000000
ALTERSKATEGORIE_GROB             0   0.000000

[366 rows x 2 columns]

Drop columns with very high NaNs, looking through the spreadsheets and from checking NaNs in the mailout sets these a few other factors than need to be dropped first.

In [19]:
cols_to_drop = ['D19_LETZTER_KAUF_BRANCHE', 'EINGEFUEGT_AM', 'OST_WEST_KZ', 'ALTER_KIND4', 'ALTER_KIND3', 'ALTER_KIND2', 'ALTER_KIND1', 'EXTSEL992', 'KK_KUNDENTYP', 'HH_DELTA_FLAG', 'W_KEIT_KIND_HH']
azdias = Cleaning_functions.column_dropper(azdias, cols_to_drop)

In [20]:
NaN_sum = Cleaning_functions.display_NaN(azdias)
NaN_sum

                            NaN sum      NaN %
ALTERSKATEGORIE_FEIN         262947  29.504130
D19_BANKEN_ONLINE_QUOTE_12   257113  28.849522
D19_SOZIALES                 257113  28.849522
D19_VERSI_ONLINE_QUOTE_12    257113  28.849522
D19_TELKO_ONLINE_QUOTE_12    257113  28.849522
...                             ...        ...
D19_VERSAND_ANZ_24                0   0.000000
D19_VERSAND_DATUM                 0   0.000000
D19_VERSAND_OFFLINE_DATUM         0   0.000000
D19_VERSAND_ONLINE_DATUM          0   0.000000
ALTERSKATEGORIE_GROB              0   0.000000

[355 rows x 2 columns]

In [21]:
azdias_mapped = Cleaning_functions.row_dropper(azdias, 'D19_BANKEN_ONLINE_QUOTE_12')
NaN_sum = Cleaning_functions.display_NaN(azdias)
NaN_sum.head(10)

                             NaN sum      NaN %
ALTERSKATEGORIE_FEIN          262947  29.504130
D19_BANKEN_ONLINE_QUOTE_12    257113  28.849522
D19_SOZIALES                  257113  28.849522
D19_VERSI_ONLINE_QUOTE_12     257113  28.849522
D19_TELKO_ONLINE_QUOTE_12     257113  28.849522
D19_GESAMT_ONLINE_QUOTE_12    257113  28.849522
D19_KONSUMTYP                 257113  28.849522
D19_LOTTO                     257113  28.849522
D19_VERSAND_ONLINE_QUOTE_12   257113  28.849522
KBA05_HERST4                  133324  14.959701

In [22]:
fig_1 = Cleaning_functions.test_impute_plot('ALTERSKATEGORIE_FEIN', azdias)
# df_test = Cleaning_functions.test_impute('ALTERSKATEGORIE_FEIN', azdias)

In [23]:
fig_2 = Cleaning_functions.test_impute_plot('KBA05_SEG8', azdias)

need to fix how they are saving -resolution look slow and it's cutting off labels
but results is impure the mode

In [24]:
azdias_imputed = Cleaning_functions.impute_all_cols(azdias_mapped, 'most_frequent')

dealing with CAMEO_DEU_unique as a categorical feature

In [25]:
CAMEO_DEU_unique = azdias_imputed.CAMEO_DEU_2015.unique()
CAMEO_DEU_unique = sorted(CAMEO_DEU_unique)
CAMEO_DEU_labels = ['Work_Life_Balance', 'Wealthy_Best_Ager', 'Successful-Songwriter', 'Old_Nobility', 'City_Nobility', 'Cottage_Chic', 'Noble_Jogger', 'Established_gourmet', 'Fine_Management', 'Career_Family', 
'Powershaopping_Families', 'Rural_Neighborhood', 'Secure_Retirement', 'Family_Starter', 'Family_life', 'String_Trimmer', 'Empty_Nest', 'Golden_Ager', 'Younger_Employees', 'Suddenly_family',
'Family_First', 'Stock_Market_Junkies', 'Coffee_Rider', 'Active_Retirement', 'Jobstarter', 'Petty_Bourgeois', 'Long_Established', 'Sportgardener', 'Urban_Parents', 'Frugal_Aging', 'Journeymen',
'Mantaplatte', 'Factory_Worker', 'Rear_Window', 'Interested_Retirees', 'Multi_culteral', 'Young_Mobile', 'Prefab', 'Town_Seniours', 'First_Shared_Apartment', 'Tempory_Workers', 'Afternoon_Talk_Show',
'Mini_jobber', 'Socking_Away']
azdias_imputed.CAMEO_DEU_2015 = azdias_imputed.CAMEO_DEU_2015.replace(CAMEO_DEU_unique, CAMEO_DEU_labels)

In [26]:
categorical_cols = ['CAMEO_DEU_2015']
azdias_clean = Cleaning_functions.encode_cat(azdias_imputed, categorical_cols)

In [27]:
# azdias_clean.to_csv('data/azdais_clean.csv')

 bring in the customers and check for different columns

In [31]:

customers = Cleaning_functions.collate_unknown(customers)
cols_to_drop = ['PRODUCT_GROUP', 'CUSTOMER_GROUP', 'ONLINE_PURCHASE', 'D19_LETZTER_KAUF_BRANCHE', 'EINGEFUEGT_AM', 'OST_WEST_KZ', 'ALTER_KIND4', 'ALTER_KIND3', 'ALTER_KIND2', 'ALTER_KIND1', 'EXTSEL992', 'KK_KUNDENTYP', 'HH_DELTA_FLAG', 'W_KEIT_KIND_HH']
customers = Cleaning_functions.column_dropper(customers, cols_to_drop)
customers = Cleaning_functions.row_dropper(customers, 'D19_BANKEN_ONLINE_QUOTE_12')
customers_imputed = Cleaning_functions.impute_all_cols(customers, 'most_frequent')

In [32]:
CAMEO_DEU_unique = customers_imputed.CAMEO_DEU_2015.unique()
CAMEO_DEU_unique = sorted(CAMEO_DEU_unique)
CAMEO_DEU_labels = ['Work_Life_Balance', 'Wealthy_Best_Ager', 'Successful-Songwriter', 'Old_Nobility', 'City_Nobility', 'Cottage_Chic', 'Noble_Jogger', 'Established_gourmet', 'Fine_Management', 'Career_Family', 
'Powershaopping_Families', 'Rural_Neighborhood', 'Secure_Retirement', 'Family_Starter', 'Family_life', 'String_Trimmer', 'Empty_Nest', 'Golden_Ager', 'Younger_Employees', 'Suddenly_family',
'Family_First', 'Stock_Market_Junkies', 'Coffee_Rider', 'Active_Retirement', 'Jobstarter', 'Petty_Bourgeois', 'Long_Established', 'Sportgardener', 'Urban_Parents', 'Frugal_Aging', 'Journeymen',
'Mantaplatte', 'Factory_Worker', 'Rear_Window', 'Interested_Retirees', 'Multi_culteral', 'Young_Mobile', 'Prefab', 'Town_Seniours', 'First_Shared_Apartment', 'Tempory_Workers', 'Afternoon_Talk_Show',
'Mini_jobber', 'Socking_Away']
customers_imputed.CAMEO_DEU_2015 = customers_imputed.CAMEO_DEU_2015.replace(CAMEO_DEU_unique, CAMEO_DEU_labels)

In [33]:
categorical_cols = ['CAMEO_DEU_2015']
customers_clean = Cleaning_functions.encode_cat(customers_imputed, categorical_cols)

In [34]:
Cleaning_functions.returnNotMatches(azdias_clean,customers_clean)

[[], []]

In [ ]:
# customers_clean.to_csv('data/customers_clean.csv')

same process was run for the mailout test and train datasets.